<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ke.flutterqrscanner">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name=".QRScanActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            >
        </activity>
    </application>
</manifest>
